/* contents of styles.css file */

h1{
  font-size: 6vw;
  margin-bottom: 600px;
  font-family:'Libre Baskerville';
  font-style: normal;
}

h2{
  color: darkblue;
  font-family: 'Oxanium';
}

.sub{
  margin-top: 900px;
  margin-bottom: 900px;
}

.question1,.question2,.question3,.question4,.question5,.question6{
  width: 2700px;
  word-wrap: break-word;
  margin-top: 390px;
  margin-bottom: 450px;
  font-family: 'bitter';
  font-style: 'semibold';
  font-size: 106px;
}

body{
  width: 60%;
  margin: auto;
}

p{
  width: 50%;
  margin: auto;
  font-size: 70px;
  font-style: light;
  font-family: 'bitter';
  letter-spacing: 2px;
  line-height: 1.5; 
  margin-top: 10px; 
  margin-bottom: 20px;
}

h2{
  font-size: 1.8vw;
  margin-top: 20px;
}

h3{
  font-size: 1.7vw;
  margin-top: 20px;
}

.l1,.l2,.l3{
  margin-top: 90px;
  margin-bottom: 90px;
}

.l3{
  margin-bottom: 700px;
}

.bold-underline {
    font-weight: bold;
    text-decoration: underline;
}
